<!DOCTYPE html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <meta name="description"
      content="blackreddish is a team of young node.js web devepers. Contact us and give your business a boost.">

   <meta name="keywords"
      content="blackreddish, black, reddish, web, developer, node.js, node, bootstrap, responsive, modern, website, website design, ecommerce, freelance, startup, business, growth">

   <meta name="author"
      content="piyush, maheshwari, piyush-maheshwari, piyush maheshwari, raghav, agrawal, raghavagrawal, raghav-agrawal">

   <title>Blackreddish</title>
   <link href="images/logo_blackreddish.png" rel="icon">
   <link rel="stylesheet" href="css/plugins.css">
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <style>
      @media screen and (min-width: 480px) {
         #l {
            font-size: 40px;
         }
      }

      @media screen and (max-width:479px) {
         #l {
            font-size: 30px;
         }
      }

      a.disabled {
         pointer-events: none;
         cursor: default;
      }
   </style>

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="90">

   <!--PreLoader-->
   <div class="loader">
      <div class="loader-inner">
         <div class="loader-blocks">
            <span class="block-1"></span>
            <span class="block-2"></span>
            <span class="block-3"></span>
            <span class="block-4"></span>
            <span class="block-5"></span>
            <span class="block-6"></span>
            <span class="block-7"></span>
            <span class="block-8"></span>
            <span class="block-9"></span>
            <span class="block-10"></span>
            <span class="block-11"></span>
            <span class="block-12"></span>
            <span class="block-13"></span>
            <span class="block-14"></span>
            <span class="block-15"></span>
            <span class="block-16"></span>
         </div>
      </div>
   </div>
   <!--PreLoader Ends-->

   <!-- header -->
   <header class="site-header">
      <nav class="navbar navbar-expand-lg transparent-bg static-nav">
         <div class="container">
            <a class="navbar-brand" href="index-modern.html" id=l><span style="color:red">Blackreddish</span></a>
            <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
               data-target="#xenav">
               <span> </span>
               <span> </span>
               <span> </span>
            </button>
            <div class="collapse navbar-collapse" id="xenav">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                     <a class="nav-link pagescroll" style="color:red" href="#home">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link pagescroll" style="color:red" href="#our-feature">Services</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link pagescroll" style="color:red" href="#our-team">Team</a>
                  </li>
                  <!-- <li class="nav-item">
                     <a class="nav-link disabled" style="color:red" href="#portfolio">Portfolio</a>
                  </li> -->
                  <li class="nav-item">
                     <a class="nav-link pagescroll" style="color:red" href="#contactus">contact</a>
                  </li>
               </ul>
            </div>

            <!--Social Icons-->
            <!-- <ul class="social-icons white d-md-none">
            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i> </a> </li>
            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i> </a> </li>
            <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i> </a> </li>
            <li><a href="javascript:void(0)"><i class="fa fa-envelope-o"></i> </a> </li>
         </ul> -->
         </div>


         <!--side menu open button-->
         <a href="javascript:void(0)" class="d-none d-lg-inline-block sidemenu_btn" style="color:black;" !important
            id="sidemenu_toggle">
            <span></span> <span></span> <span></span>
         </a>
      </nav>

      <!-- side menu -->
      <div class="side-menu">
         <div class="inner-wrapper">
            <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
            <nav class="side-nav">
               <ul class="navbar-nav w-100">
                  <li class="nav-item active">
                     <a class="nav-link pagescroll" style="color:red" href="#home">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link pagescroll" style="color:red" href="#our-feature">Services</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link pagescroll" style="color:red" href="#our-team">Team</a>
                  </li>
                  <!-- <li class="nav-item">
                     <a class="nav-link disabled" style="color:red" href="/portfolio">Portfolio</a>
                  </li> -->
                  <li class="nav-item">
                     <a class="nav-link pagescroll" style="color:red" href="#contactus">contact</a>
                  </li>
               </ul>
            </nav>

            <div class="side-footer w-100">
               <ul class="social-icons-simple white top40">
               </ul>
               <p class="whitecolor">&copy; 2019 Designed and Developed by <span
                     style="color:red; font-size:16px;">Blackreddish</span></p>
            </div>
         </div>
      </div>
      <a id="close_side_menu" href="javascript:void(0);"></a>
      <!-- End side menu -->
   </header>
   <!-- header -->





   <!--Main Slider-->
   <div id="home" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export"
      style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
      <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
      <div id="rev_arrows" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
         <ul>

            <!-- SLIDE  -->
            <li data-index="rs-first" data-transition="fadeout" data-slotamount="default" data-hideafterloop="0"
               data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
               data-masterspeed="2000" data-thumb="images/arrow-slide1.jpg" data-rotate="0" data-fstransition="fade"
               data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off">
               <!-- MAIN IMAGE -->
               <img src="images/arrow-slide1.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
                  data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

               <!-- LAYER NR. 1 -->
               <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                  data-voffset="['-60','-60','-50','-50']" data-width="none" data-height="none" data-type="text"
                  data-textAlign="['center','center','center','center']" data-responsive_offset="on" data-start="1000"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                  <br><br><br><br>
                  <h3 class="text-capitalize font-xlight whitecolor text-center" style="font-size:25px;">We Give
                     Identity</h3>
               </div>

               <!-- LAYER NR. 2 -->
               <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                  data-voffset="['0','0','0','0']" data-width="none" data-height="none" data-type="text"
                  data-textAlign="['center','center','center','center']" data-responsive_offset="on" data-start="1500"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                  <br><br><br>
                  <h3 class="text-capitalize fontbold whitecolor text-center">To Your Dreams</h3>
               </div>

               <!-- LAYER NR. 3 -->
               <!--<div class="tp-caption tp-resizeme" 
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['70','70','70','70']" 
       data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
       data-textAlign="['center','center','center','center']"  
       data-responsive_offset="on" data-start="2000"
       data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
       <h4 class="whitecolor font-light text-center">The Best Multipurpose One Page Template in Market</h4> </div>-->
            </li>

            <!-- SLIDE  -->
            <li data-index="rs-second" data-transition="fadetotopfadefrombottom" data-slotamount="default"
               data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut"
               data-easeout="Power3.easeInOut" data-masterspeed="1000" data-thumb="images/arrow-slide2.jpg">
               <!-- MAIN IMAGE -->
               <img src="images/arrow-slide2.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
                  data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
               <!-- LAYER NR. 1 -->
               <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                  data-voffset="['-60','-60','-50','-50']" data-width="none" data-height="none" data-type="text"
                  data-textAlign="['center','center','center','center']" data-responsive_offset="on" data-start="200"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":200,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                  <a id=l><img src="images/logo.png"></a>
               </div>


               <!-- LAYER NR. 3 -->
               <!--<div class="tp-caption tp-resizeme" 
      data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
      data-y="['middle','middle','middle','middle']" data-voffset="['70','70','70','70']" 
      data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
      data-textAlign="['center','center','center','center']"  
      data-responsive_offset="on" data-start="2000"
      data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
      <h4 class="whitecolor font-light text-center">The Best Multipurpose One Page Template in Market</h4> </div>-->
            </li>

            <!-- SLIDE  -->
            <li data-index="rs-third" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"
               data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
               data-masterspeed="2000" data-thumb="images/arrow-slide3.jpg">
               <!-- MAIN IMAGE -->
               <img src="images/arrow-slide3.jpg" alt="" data-bgposition="center center" data-ease="Linear.easeNone"
                  data-rotatestart="0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

               <!-- LAYER NR. 1 -->
               <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                  data-voffset="['-60','-60','-50','-50']" data-width="none" data-height="none" data-type="text"
                  data-textAlign="['center','center','center','center']" data-responsive_offset="on" data-start="1000"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                  <h1 class="text-capitalize font-xlight text-center" style="font-size:35px;">We Give Identity</h1>
               </div>

               <!-- LAYER NR. 2 -->
               <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                  data-voffset="['0','0','0','0']" data-width="none" data-height="none" data-type="text"
                  data-textAlign="['center','center','center','center']" data-responsive_offset="on" data-start="1500"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                  <h1 class="text-capitalize fontbold text-center" style="font-size:35px;">To Your Dreams</h1>
               </div>

               <!-- LAYER NR. 3 -->
               <!--      <div class="tp-caption tp-resizeme" 
      data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
      data-y="['middle','middle','middle','middle']" data-voffset="['70','70','70','70']" 
      data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
      data-textAlign="['center','center','center','center']"  
      data-responsive_offset="on" data-start="2000"
      data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
      <h4 class="whitecolor font-light text-center">The Best Multipurpose One Page Template in Market</h4> </div>-->
            </li>
         </ul>
      </div>
   </div>
   <!--Main Slider ends -->

   <!--Some Services-->
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div id="services-slider" class="owl-carousel">
               <div class="item">
                  <div class="service-box">
                     <span class="bottom25"><i class="fa fa-clipboard"></i></span>
                     <h4 class="bottom10"><a href="javascript:void(0)">Agile Process</a></h4>
                     <p>We promote continuous iteration of development and testing throughout the software development
                        lifecycle.</p>
                  </div>
               </div>
               <div class="item">
                  <div class="service-box">
                     <span class="bottom25"><i class="fa fa-laptop"></i></span>
                     <h4 class="bottom10"><a href="javascript:void(0)">Fully Responsive</a></h4>
                     <p>Data shows that more people use mobile devices to surf the web.</p>
                  </div>
               </div>
               <div class="item">
                  <div class="service-box">
                     <span class="bottom25"><i class="fa fa-support"></i></span>
                     <h4 class="bottom10"><a href="javascript:void(0)">Full Support</a></h4>
                     <p>We understand our clients and give our level best support to them.</p>
                  </div>
               </div>
               <div class="item">
                  <div class="service-box">
                     <span class="bottom25"><i class="fa fa-edit"></i></span>
                     <h4 class="bottom10"><a href="javascript:void(0)">Client Involvement</a></h4>
                     <p>We believe in collaborative efforts of our teams and clients.</p>
                  </div>
               </div>
               <div class="item">
                  <div class="service-box">
                     <span class="bottom25"><i class="fa fa-globe"></i></span>
                     <h4 class="bottom10"><a href="javascript:void(0)">Scalable</a></h4>
                     <p>We develop webapps that are scalable to fulfill the needs of your ever growing business.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--Some Services ends-->

   <!--Some Feature -->
   <section id="our-feature" class="padding_bottom padding_top_half single-feature">
      <div class="container">
         <div class="row">
            <div class="col-md-12 col-sm-7 text-md-left text-center wow fadeInLeft" data-wow-delay="300ms">
               <div class="heading-title heading_space text-center"> <br><br>
                  <h2 class="darkcolor bottom30">Services We Offer</h2>
               </div>
               <div class="row centered-table" style="margin-top:-90px;">
                  <div class="col-md-4 col-sm-12">
                     <div class="price-table top60 wow fadeIn" data-wow-delay="200ms">
                        <h4 class="bottom20 darkcolor"><strong>WEBSITE DESIGN</strong></h4>
                        <p>Having a unique website design is important part of the branding and marketing process of
                           your business.</p><br>
                        <div class="clearfix"></div>
                        <!-- <div class="ammount top50">
                              <h2 class="defaultcolor"><i class="fa fa-dollar"></i> 9.99</h2>
                           </div> -->
                        <a class="button btnprimary top50 nav-link pagescroll" style="background-color:black"
                           href="#contactus">
                           Contact
                        </a>
                     </div>
                     <div class="collapse">
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                     <div class="price-table top60 wow fadeInUp" data-wow-delay="300ms">
                        <h4 class="bottom20 darkcolor"><strong>WEB DEVELOPMENT</strong></h4>
                        <p>Our new fangled approach to Development is directed creating and building deep love for your
                           website.</p><br>
                        <div class="clearfix"></div>
                        <!-- <div class="ammount top50">
                             <h2 class="defaultcolor"><i class="fa fa-dollar"></i> 99.99 </h2>
                          </div> -->
                        <a class="button btnprimary top50 nav-link pagescroll" style="background-color:black"
                           href="#contactus">
                           Contact
                        </a>
                     </div>
                     <div class="collapse">
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                     <div class="price-table top60 wow fadeInUp" data-wow-delay="400ms">
                        <h4 class="bottom20 darkcolor"><strong>ECOMMERCE</strong></h4> <br>
                        <p>We have a proven track record for developing eCommerce websites that will ensure your
                           company gains.</p>
                        <div class="clearfix"></div>
                        <!-- <div class="ammount top50">
                              <h2 class="defaultcolor"><i class="fa fa-dollar"></i> 99.99 </h2>
                           </div> -->
                        <a class="button btnprimary top50 nav-link pagescroll" style="background-color:black"
                           href="#contactus">
                           Contact
                        </a>
                     </div>
                  </div>
               </div>
   </section>

   </div>

   </div>
   </div>
   </section>
   <!--Some Feature ends-->


   <!-- WOrk Process-->
   <section id="our-process" class="padding gradient_bg_default">
      <div class="container">
         <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
               <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
                  <h2 class="whitecolor">Work <span class="fontregular">Process</span> </h2>
               </div>
            </div>
         </div>
         <div class="row">
            <ul class="process-wrapp">
               <li class="whitecolor wow fadeIn" data-wow-delay="300ms">
                  <span class="pro-step bottom20">01</span>
                  <p class="fontbold bottom25">Concept</p>
                  <p>We brain storm about your needs and requirements.</p>
               </li>
               <li class="whitecolor wow fadeIn" data-wow-delay="400ms">
                  <span class="pro-step bottom20">02</span>
                  <p class="fontbold bottom25">Plan</p>
                  <p>We plan strategies and assemble forethoughts for each requirement.</p>
               </li>
               <li class="whitecolor wow fadeIn" data-wow-delay="500ms">
                  <span class="pro-step bottom20">03</span>
                  <p class="fontbold bottom25">Design</p>
                  <p>We make beautiful designs to boost user experience and engagement.</p>
               </li>
               <li class="whitecolor wow fadeIn" data-wow-delay="600ms">
                  <span class="pro-step bottom20">04</span>
                  <p class="fontbold bottom25">Development</p>
                  <p>We implement the designs, improvise them and go ahead on your approval.</p>
               </li>
               <li class="whitecolor wow fadeIn" data-wow-delay="700ms">
                  <span class="pro-step bottom20">05</span>
                  <p class="fontbold bottom25">Deployment</p>
                  <p>We launch the product to serve you better.</p>
               </li>
            </ul>
         </div>
      </div>
   </section>
   <!--WOrk Process ends-->

   <!-- Our Team-->
   <section id="our-team" class="padding bglight">
      <div class="container">
         <div class="row">
            <div class="col-md-8 offset-md-2 col-sm-12 text-center">
               <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
                  <h2 class="darkcolor bottom20">Our Team</h2>
                  <br><br>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4 col-xs-12">
               <div>
                  <div class="image">
                     <div class="image hover-effect img-container">
                        <img src="images/raghav.jpg" alt="">
                     </div>
                  </div>
                  <div class="team-content gradient_bg_default whitecolor">
                     <br>
                     <center>
                        <h3>Raghav Agrawal</h3><br>
                        <span class="facebook bottom40" style="font-size:25px;"><a
                              href="https://www.facebook.com/raghav.agrawal.562" target="_blank"><i
                                 class="fa fa-facebook"></i></a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="google-plus" style="font-size:25px;"><a
                              href="mailto:agrawalraghav669@gmail.com?subject=Ask%20a%20Query" target="_blank"><i
                                 class="fa fa-envelope"></i></a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="twitter" style="font-size:25px;"><a
                              href="https://www.linkedin.com/in/raghavagrawal1998/" target="_blank"><i
                                 class="fa fa-linkedin"></i></a></span>
                     </center>
                     <div>
                        <pre> </pre>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 col-xs-12">
               <div>
                  <div class="image">
                     <div class="image hover-effect img-container">
                        <a id=l><img src="images/logo.png"></a></div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 col-xs-12">
               <div>
                  <div class="image">
                     <div class="image hover-effect img-container">
                        <img src="images/piyush.jpg" alt="">
                     </div>
                  </div>
                  <div class="team-content gradient_bg_default whitecolor">
                     <br>
                     <center>
                        <h3>Piyush Maheshwari</h3><br>
                        <span class="facebook bottom40" style="font-size:25px;"><a
                              href="https://www.facebook.com/piyush.maheshwari.735" target="_blank"><i
                                 class="fa fa-facebook"></i></a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="google-plus" style="font-size:25px;"><a
                              href="mailto:mahe_piyush@outlook.com?subject=Ask%20a%20Query" target="_blank"><i
                                 class="fa fa-envelope"></i></a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="twitter" style="font-size:25px;"><a href="http://linkedin.com/in/piyush-maheshwari"
                              target="_blank"><i class="fa fa-linkedin"></i></a></span>
                     </center>
                     <div>
                        <pre> </pre>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- Our Team ends-->
   <br><br><br><br>
   <!-- Counters -->
   <section id="funfacts" class="padding_top fact-iconic gradient_bg">
      <div class="container">
         <div class="row">
            <div class="col-md-5 col-sm-12 margin_bottom whitecolor text-md-left text-center wow fadeInUp"
               data-wow-delay="300ms">
               <h3 class="bottom25">Our many years of experience in numbers</h3>
               <p class="title">We show you our professional achievements in numbers, which show the acquired skills
                  and trust of our clients.</p>
            </div>
            <div class="col-md-7 col-sm-12 text-center">
               <div class="row">
                  <div class="col-md-4 col-sm-4 icon-counters whitecolor margin_bottom  wow fadeIn"
                     data-wow-delay="350ms">
                     <div class="img-icon bottom15">
                        <i class="fa fa-smile-o"></i>
                     </div>
                     <div class="counters">
                        <span class="count_nums" data-to="6" data-speed="2500"> </span> <i class="fa fa-plus"></i>
                     </div>
                     <p class="title">Happy Clients</p>
                  </div>
                  <div class="col-md-4 col-sm-4 icon-counters whitecolor margin_bottom wow fadeIn"
                     data-wow-delay="400ms">
                     <div class="img-icon bottom15">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                     </div>
                     <div class="counters">
                        <span class="count_nums" data-to="150" data-speed="2500"> </span> <i class="fa fa-plus"></i>
                     </div>
                     <p class="title">Hours of work</p>
                  </div>
                  <div class="col-md-4 col-sm-4 icon-counters whitecolor margin_bottom wow fadeIn"
                     data-wow-delay="450ms">
                     <div class="img-icon bottom15">
                        <i class="fa fa-github"></i>
                     </div>
                     <div class="counters">
                        <span class="count_nums" data-to="6" data-speed="2500"> </span> <i class="fa fa-plus"></i>
                     </div>
                     <p class="title">Repositories on Git</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--Counters ends-->

   <!-- Partners -->
   <section class="padding">
      <div class="container">
         <h3 class="invisible">hidden</h3>
         <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
            <h2 class="darkcolor bottom20 text-center">Our Clients</h2>
            <br><br>
         </div>
         <div class="row">
            <div class="col-md-12 col-sm-12">
               <div id="partners-slider" class="owl-carousel">
                  <div class="item">
                     <div class="logo-item" style="font-size: 18px;"><b>Aditya Commerce classes</b></div>
                  </div>
                  <div class="item">
                     <div class="logo-item" style="font-size: 20px;"><b>TextBot-GLAU </b></div>
                  </div>
                  <div class="item">
                     <div class="logo-item" style="font-size: 20px;"><b>Nitin Laptops and Computers</b></div>
                  </div>
                  <div class="item">
                     <div class="logo-item" style="font-size: 20px;"><b>Promozonic</b></div>
                  </div>
                  <div class="item">
                     <div class="logo-item" style="font-size: 20px;"><b>Qafila-GLAU</b></div>
                  </div>
                  <div class="item">
                     <div class="logo-item" style="font-size: 20px;"><b>Bhagyastro</b></div>
                  </div>
                  <div class="item">
                     <div class="logo-item" style="font-size: 20px;"><b>Blackreddish</b></div>
                  </div>
                  <div class="item">
                     <div class="logo-item" style="font-size: 20px;"><b>GrepSkill</b></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--Partners Ends-->

   <!-- Contact US -->
   <section id="contactus" class="padding_top">
      <div class="container">
         <div class="row">
            <div class="col-md-12 col-sm-12">
               <div class="heading-title heading_space wow fadeInUp" data-wow-delay="300ms">
                  <span>Lets Get In Touch</span>
                  <h2 class="darkcolor">Contact <span style="color:red">Blackreddish</span></h2>
               </div>
            </div>
            <div class="col-md-12 col-sm-12  wow fadeInUp" data-wow-delay="350ms">
               <p><span style="color:red"><strong>Blackreddish</strong></span> is not just about web development; it's
                  more than that. We offer consultancy and deployment services, and we're responsible for our process
                  and results. We thank each client and their projects.</p>
               <div class="row">
                  <div class="col-md-6 col-sm-12 our-address top40">
                     <h5 class="bottom25">Call Us</h5>
                     <p class="bottom15">Mobile : (+91) 8630422423 </p>
                  </div>
                  <div class="col-md-6 col-sm-12 our-address top40">
                     <h5 class="bottom25">Our Email</h5>
                     <p class="bottom15">agrawalraghav669@gmail.com</p>
                  </div>
               </div>
            </div>
         </div>
      </div><br><br><br>
      <p class="copyrights wow fadeInUp text-center" data-wow-delay="300ms" style="font-size:20px;"> &copy; 2019
         Designed and Developed by <a href="http://blackreddish.herokuapp.com/" target="_blank"><span
               style="color:red"><b>Blackreddish</b></span></a>
      </p>

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="js/jquery-3.1.1.min.js"></script>

      <!--Bootstrap Core-->
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>

      <!--to view items on reach-->
      <script src="js/jquery.appear.js"></script>

      <!--Equal-Heights-->
      <script src="js/jquery.matchHeight-min.js"></script>

      <!--Owl Slider-->
      <script src="js/owl.carousel.min.js"></script>

      <!--number counters-->
      <script src="js/jquery-countTo.js"></script>

      <!--Parallax Background-->
      <script src="js/parallaxie.js"></script>

      <!--Cubefolio Gallery-->
      <script src="js/jquery.cubeportfolio.min.js"></script>

      <!--FancyBox popup-->
      <script src="js/jquery.fancybox.min.js"></script>

      <!-- Video Background-->
      <script src="js/jquery.background-video.js"></script>

      <!--TypeWriter-->
      <script src="js/typewriter.js"></script>

      <!--Particles-->
      <script src="js/particles.min.js"></script>

      <!--WOw animations-->
      <script src="js/wow.min.js"></script>

      <!--Revolution SLider-->
      <script src="js/revolution/jquery.themepunch.tools.min.js"></script>
      <script src="js/revolution/jquery.themepunch.revolution.min.js"></script>
      <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
      <script src="js/revolution/extensions/revolution.extension.actions.min.js"></script>
      <script src="js/revolution/extensions/revolution.extension.carousel.min.js"></script>
      <script src="js/revolution/extensions/revolution.extension.kenburn.min.js"></script>
      <script src="js/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
      <script src="js/revolution/extensions/revolution.extension.migration.min.js"></script>
      <script src="js/revolution/extensions/revolution.extension.navigation.min.js"></script>
      <script src="js/revolution/extensions/revolution.extension.parallax.min.js"></script>
      <script src="js/revolution/extensions/revolution.extension.slideanims.min.js"></script>
      <script src="js/revolution/extensions/revolution.extension.video.min.js"></script>

      <!--Google Map API-->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJnKEvlwpyjXfS_h-J1Cne2fPMqeb44Mk"></script>
      <script src="js/functions.js"></script>

</body>

</html>