<!DOCTYPE html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <meta name="description" content="blackreddish is a team of young node.js web devepers. Contact us and give your business a boost.">

   <meta name="keywords" content="blackreddish, black, reddish, web, developer, node.js, node, bootstrap, responsive, modern, website, website design, ecommerce, freelance, startup, business, growth">

   <meta name="author" content="piyush, maheshwari, piyush-maheshwari, piyush maheshwari, raghav, agrawal, raghavagrawal, raghav-agrawal">

   <title>Blackreddish</title>
   <link href="images/logo_blackreddish.png" rel="icon">
   <link rel="stylesheet" href="css/plugins.css">
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <style>

      @media screen and (min-width: 480px) {
           #l {
               font-size: 40px;
           }
           }
       @media screen and (max-width:479px) {
           #l {
            font-size: 30px;
           }
       }
   
   </style>

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="90">

   <!--PreLoader-->
   <div class="loader">
      <div class="loader-inner">
         <div class="loader-blocks">
            <span class="block-1"></span>
            <span class="block-2"></span>
            <span class="block-3"></span>
            <span class="block-4"></span>
            <span class="block-5"></span>
            <span class="block-6"></span>
            <span class="block-7"></span>
            <span class="block-8"></span>
            <span class="block-9"></span>
            <span class="block-10"></span>
            <span class="block-11"></span>
            <span class="block-12"></span>
            <span class="block-13"></span>
            <span class="block-14"></span>
            <span class="block-15"></span>
            <span class="block-16"></span>
         </div>
      </div>
   </div>
   <!--PreLoader Ends-->

   <!-- header -->
   <header class="site-header">
      <nav class="navbar navbar-expand-lg transparent-bg static-nav">
         <div class="container">
            <a class="navbar-brand" href="/" id=l><span style="color:red">Blackreddish</span></a>
            <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
               data-target="#xenav">
               <span> </span>
               <span> </span>
               <span> </span>
            </button>
            <div class="collapse navbar-collapse" id="xenav">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                     <a class="nav-link" style="color:red" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link pagescroll" style="color:red" href="#contactus">contact</a>
                  </li>
               </ul>
            </div>

            <!--Social Icons-->
            <!-- <ul class="social-icons white d-md-none">
            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i> </a> </li>
            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i> </a> </li>
            <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i> </a> </li>
            <li><a href="javascript:void(0)"><i class="fa fa-envelope-o"></i> </a> </li>
         </ul> -->
         </div>


         <!--side menu open button-->
         <a href="javascript:void(0)" class="d-none d-lg-inline-block sidemenu_btn" style="color:black;" !important id="sidemenu_toggle">
            <span></span> <span></span> <span></span>
         </a>
      </nav>

      <!-- side menu -->
      <div class="side-menu">
         <div class="inner-wrapper">
            <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
            <nav class="side-nav">
               <ul class="navbar-nav w-100">
                  <li class="nav-item active">
                     <a class="nav-link" style="color:red" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link pagescroll" style="color:red" href="#contactus">contact</a>
                  </li>
               </ul>
            </nav>

            <div class="side-footer w-100">
               <ul class="social-icons-simple white top40">
               </ul>
               <p class="whitecolor">&copy; 2019 Designed and Developed by <span style="color:red; font-size:16px;">Blackreddish</span></p>
            </div>
         </div>
      </div>
      <a id="close_side_menu" href="javascript:void(0);"></a>
      <!-- End side menu -->
   </header>
   <!-- header -->
   <!--Gallery--><br><br><br><br><br>
   <section id="portfolio_top" class="bglight">
      <div class="container">
         <div id="portfolio-measonry" class="cbp border-portfolio">
            <div class="cbp-item itemshadow">
               <a href="#"><img src="images/aditya.png" alt=""></a>
            </div>
            <div class="cbp-item">
               <div class="text_wrap wow fadeIn" data-wow-delay="350ms">
                  <div class="heading-title text-center padding_top">
                     <span>Portfolio Designs</span>
                     <h2 class="bottom10">Creative Work</h2>
                     <p>We built these products from ground up. React.js, HTML, CSS, BootStrap, JavaScript, ES-6, Node.js, MySQL, MongoDB is our primary technology
                        stack</p>
                     <p style="font-size:25px;">We’ve Completed</p>
                     <h2 class="port_head">6</h2>
                     <p class="bottom15">projects for our amazing clients..</p>
                  </div>
               </div>
            </div>
            <div class="cbp-item itemshadow">
               <a href="http://blackreddish.herokuapp.com" target="_blank"><img src="images/black.png" alt=""></a>
            </div>
            <div class="cbp-item itemshadow">
               <a href="https://realestatedummy.herokuapp.com/" target="_blank"><img style="background-color:black" src="images/chitvan.png"
                     alt=""></a>
            </div>
            <div class="cbp-item itemshadow">
               <a href="https://stupefied-heyrovsky-972d0b.netlify.app" target="_blank"><img src="images/gst.png" alt=""></a>
            </div>
            <div class="cbp-item itemshadow">
               <a href="https://qafila19.herokuapp.com/" target="_blank"><img src="images/qafila.png" alt=""></a>
            </div>
            <div class="cbp-item itemshadow">
               <a href="#"><img src="images/text.png" alt=""></a>
            </div>
         </div>
         <div class="cbp-item">
            <div class="bottom-text">
            </div>
         </div>
      </div>
      </div>
   </section>
   <!--Gallery ends -->
   <br><br><br><br>

   <!-- Contact US -->
   <section id="contactus" class="padding_top">
      <div class="container">
         <div class="row">
            <div class="col-md-12 col-sm-12">
               <div class="heading-title heading_space wow fadeInUp" data-wow-delay="300ms">
                  <span>Lets Get In Touch</span>
                  <h2 class="darkcolor">Contact <span style="color:red">Blackreddish</span></h2>
               </div>
            </div>
            <div class="col-md-12 col-sm-12  wow fadeInUp" data-wow-delay="350ms">
               <p><span style="color:red"><strong>Blackreddish</strong></span> is not just about web development; it's
                  more than that. We offer consultancy and deployment services, and we're responsible for our process
                  and results. We thank each client and their projects.</p>
               <div class="row">
                  <div class="col-md-6 col-sm-12 our-address top40">
                     <h5 class="bottom25">Call Us</h5>
                     <p class="bottom15">Mobile : (+91) 9359068856 <span class="block">
                           Mobile : (+91) 8630422423
                        </span> </p>
                  </div>
                  <div class="col-md-6 col-sm-12 our-address top40">
                     <h5 class="bottom25">Our Email</h5>
                     <p class="bottom15">blackreddish2019@gmail.com</p>
                  </div>
               </div>
            </div>
         </div>
      </div><br><br><br>
      <p class="copyrights wow fadeInUp text-center" data-wow-delay="300ms" style="font-size:20px;"> &copy; 2019
         Designed and Developed by <a href="http://blackreddish.herokuapp.com/" target="_blank"><span style="color:red"><b>Blackreddish</b></span></a>
      </p>

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="js/jquery-3.1.1.min.js"></script>

      <!--Bootstrap Core-->
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>

      <!--to view items on reach-->
      <script src="js/jquery.appear.js"></script>

      <!--Equal-Heights-->
      <script src="js/jquery.matchHeight-min.js"></script>

      <!--Owl Slider-->
      <script src="js/owl.carousel.min.js"></script>

      <!--number counters-->
      <script src="js/jquery-countTo.js"></script>

      <!--Parallax Background-->
      <script src="js/parallaxie.js"></script>

      <!--Cubefolio Gallery-->
      <script src="js/jquery.cubeportfolio.min.js"></script>

      <!--FancyBox popup-->
      <script src="js/jquery.fancybox.min.js"></script>

      <!-- Video Background-->
      <script src="js/jquery.background-video.js"></script>

      <!--TypeWriter-->
      <script src="js/typewriter.js"></script>

      <!--Particles-->
      <script src="js/particles.min.js"></script>

      <!--WOw animations-->
      <script src="js/wow.min.js"></script>

      <!--Revolution SLider-->
      <script src="js/revolution/jquery.themepunch.tools.min.js"></script>
      <script src="js/revolution/jquery.themepunch.revolution.min.js"></script>
      <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
      <script src="js/revolution/extensions/revolution.extension.actions.min.js"></script>
      <script src="js/revolution/extensions/revolution.extension.carousel.min.js"></script>
      <script src="js/revolution/extensions/revolution.extension.kenburn.min.js"></script>
      <script src="js/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
      <script src="js/revolution/extensions/revolution.extension.migration.min.js"></script>
      <script src="js/revolution/extensions/revolution.extension.navigation.min.js"></script>
      <script src="js/revolution/extensions/revolution.extension.parallax.min.js"></script>
      <script src="js/revolution/extensions/revolution.extension.slideanims.min.js"></script>
      <script src="js/revolution/extensions/revolution.extension.video.min.js"></script>

      <!--Google Map API-->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJnKEvlwpyjXfS_h-J1Cne2fPMqeb44Mk"></script>
      <script src="js/functions.js"></script>

</body>

</html>